/*=======================
 style sheet  for design
========================*/

/* fonts from google  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* variables  */
:root {
    --primary-color: #FF5722;
}

/* base css  */
*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

/* custom classes  */
.container {
    max-width: 1270px;
    margin: auto;
}

.active {
    background-color: var(--primary-color) !important;
    color: #f8f8f8;
}

/* main style start here  */

.gallery-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1rem;
    grid-column-gap: 2rem;
    align-items: flex-start;
}

.gallery-sidebar {
    position: sticky;
    background-color: #f5f6fa;
    top: 0px;
    padding: 1.5rem;
    box-shadow: 0px 0px 15px #f5f6faa8;
}


.gallery-sidebar h3 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    border-radius: 4px;

}

.filter-type {
    position: relative;
    margin-bottom: 2rem;
}

.filter-type label {
    display: block;
    font-weight: 600;
}

.filter-type input {
    width: 100%;
    font-size: 1rem;
    font-family: poppins;
    padding: 0.5rem;
    border: 1px solid #ccc;
    outline: none;
    margin-top: .3rem;
    border-radius: 5px;
    background-color: #fff;
}

.filter-type .button-group {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-top: .5rem;
}

.filter-type button,
#reset-all-btn {
    padding: .5rem 2rem;
    display: block;
    font-size: 1rem;
    background: #fff;
    font-family: poppins;
    border: 1px solid rgb(238, 238, 238);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.005);
    outline: none;
    border-radius: 3px;

}

#reset-all-btn {
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 4px;
}



/* gallery images  */
.gallery-wrapper .gallery-content {
    position: relative;
}

.gallery-content .images-wrapper {
    position: relative;
    columns: 3;
    gap: 1.2rem;
}

.images-wrapper img {
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.2rem;
    transition: all 0.3s ease;
    filter: hue-rotate(0deg);

}

.images-wrapper img:hover {
    filter: hue-rotate(50deg);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}


/* work for responsives  */
@media (max-width: 900px) {
    .gallery-content .images-wrapper {
        columns: 2;
    }
}
@media (max-width: 768px) {
    .gallery-content .images-wrapper {
        columns: 1;
    }
}
@media (max-width: 458px) {
    .gallery-wrapper {
        grid-template-columns: 1fr;
    }
    .gallery-sidebar{
        position: relative;
    }
}